/*Hello Section CSS*/
.img-rounded {
    width: 180px;
    height: auto;
}
.positionProfileImage {
    padding-top: 100px;
    margin: auto;
}
.positionHelloText {
    padding-top: 35px;
    margin: auto;
	text-align: justify;
	font-size: 18px;
	text-shadow: 2px 4px 4px black;	
}
/*end*/

/*Prevent navbar gobble up section area and position header in center*/
section {
    height: 100%;
}
.positionCenter {
	text-align: center;
}
/*end*/

/*Underline Section heading and change heading color*/
.underline {
	padding-bottom: 10px;
	border-bottom: 5px solid firebrick;
}

h2 {
	color: white;
}
/*end*/

/*Override <a> pseudo classes*/
a {
	color:white;
	text-decoration: none;
}
a:hover {
	color: firebrick;
	text-decoration: none;
}
a:active {
	color:gray;
	text-decoration: none;
}
a:visited {
	color: white;
}
li:hover {
	background-color: firebrick;	
}


body {
	background-color: black;
}
.positionSection {
	padding-top: 40px;
	
}
.urlicon {
	padding: 20px;
}
@media only screen and (min-width: 330px)  {
	section {
    	height: 100%;
		width: 100%;
	}
}

.hello {
	color: white;
	text-shadow: 
}
/******Override bootstrap class for navbar*****
.navbar-own {
	background-color: transparent;
	color: white;
}

.navbar-inverse {
  background-color: transparent; 
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
*/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #fff } 
.navbar li:hover {
	
}

.navbar .btn-link:hover,
.navbar .btn-link:focus {
  color: firebrick;
}
.navbar .navbar-toggle {
  border-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}